@import '../../styles/vars.scss';



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button{
    background: linear-gradient(0deg,$primary 0.03%,$accent);
    border-radius: 9px;
    font-size: 18px;
    color: $bg;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    &:disabled{
        background:$bg-accent;
        color: $disabled;
        cursor: not-allowed;

    }
  }
  
  a{
    color: $primary;
  }
  .GoToLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }
 
  
  